.ui-widget button {
	font-size: 2em;
}

#info {
	margin-top: 24em;
}

#sentence {
	width: 100%;
	text-align: center;
	font-style: italic;
}

#results {
	border: 4px solid gray;
	padding: 0.5em;
}

button.ui-keyboard-actionkey.ui-state-default {
	border: 1px solid #AA9B78;
	background: #F4E7C7;
	color: #444;
}

textarea.ui-keyboard-preview {
	font-size: 2em;
	padding-left: 0.5em;
}